@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .username {
    @apply text-sm font-semibold text-black;
  }
}

body {
  background: #fafafa;
}

.authBG {
  background: linear-gradient(
    -45deg,
    #feed07 0%,
    #fe6a50 5%,
    #ed00aa 15%,
    #2fe3fe 50%,
    #8900ff 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.postImg {
  aspect-ratio: 1/1;
}

.thumbnail {
  position: relative;
}

.thumbnail:before {
  content: " ";
  display: block;
  width: 100%;
  padding-top: 100%;
}

.thumbnail > img {
  position: absolute;
  object-fit: fill;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
