@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .username {
    @apply text-sm font-semibold text-black;
  }
}

body {
  background: #fafafa;
}

.postImg {
  aspect-ratio: 1/1;
}

.thumbnail {
  position: relative;
}
.thumbnail:before {
  content: " ";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.thumbnail > img {
  position: absolute;
  object-fit: fill;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
